<div [formGroup]="uploadForm" class="card w-100 p-4 border-0">

    <!-- SPECIFICATIONS SECTION -->
    <div class="d-flex justify-content-center mt-2">

        <!-- COLUMN LEFT -->
        <div class="d-flex flex-column align-items-center w-50">

            <!-- SPEED FIELD -->
            <div class="mb-3 w-75">
                <label class="form-label" for="speed">Speed (MHz):</label>
                <input class="form-control" id="speed" type="number" min="800" max="6000" formControlName="speed">
                <div class="text-danger">
                    @if (uploadForm.controls['speed'].errors?.['required']) {
                    <div>Speed is required.</div>
                    }
                    @if (uploadForm.controls['speed'].errors?.['min']) {
                    <div>Speed cannot be lower than 800.</div>
                    }
                    @if (uploadForm.controls['speed'].errors?.['max']) {
                    <div>Speed cannot be higher than 6000.</div>
                    }
                </div>
            </div>

            <!-- LATENCY FIELD -->
            <div class="mb-3 w-75">
                <label class="form-label" for="latency">Latency (CL):</label>
                <input class="form-control" id="latency" type="number" min="7" max="40" formControlName="latency">
                <div class="text-danger">
                    @if (uploadForm.controls['latency'].errors?.['required']) {
                    <div>Latency is required.</div>
                    }
                    @if (uploadForm.controls['latency'].errors?.['min']) {
                    <div>Latency cannot be lower than 7.</div>
                    }
                    @if (uploadForm.controls['latency'].errors?.['max']) {
                    <div>Latency cannot be higher than 40.</div>
                    }
                </div>
            </div>

        </div>


        <!-- COLUMN RIGHT -->
        <div class="d-flex flex-column align-items-center w-50">
            <!-- BRAND FIELD -->
            <div class="mb-3 w-75">
                <label class="form-label" for="memory">Memory:</label>
                <select id="memory" class="form-select" formControlName="memory">
                    <option id="4" value="4">4 GB</option>
                    <option id="8" value="8">8 GB</option>
                    <option id="16" value="16">16 GB</option>
                    <option id="32" value="32">32 GB</option>
                    <option id="64" value="64">64 GB</option>
                    <option id="128" value="128">128 GB</option>
                    <option id="256" value="256">256 GB</option>
                </select>
            </div>

            <!-- CATEGORY FIELD -->
            <div class="mb-3 w-75">
                <label class="form-label" for="memory_type">Memory Type:</label>
                <select id="memory_type" class="form-select" formControlName="memory_type">
                    <option id="DDR3" value="DDR3">DDR3</option>
                    <option id="DDR4" value="DDR4">DDR4</option>
                    <option id="DDR5" value="DDR5">DDR5</option>
                </select>
            </div>
        </div>
    </div>
</div>