<div class="mx-auto w-50 mt-3">
    <table class="table table-bordered w-100">
        <thead>
            <tr>
                <th>Specification</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Name</span>
                        @if (uploadForm.controls['name'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['name'].errors?.['required']) {
                        <span class="fw-bold text-danger">Name is required</span>
                    } @else if(uploadForm.controls['name'].errors?.['maxlength']) {
                        <span class="fw-bold text-danger">Name cannot be longer than 60 characters</span>
                    } @else {
                        {{ uploadForm.get('name')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Model</span>
                        @if (uploadForm.controls['model'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['model'].errors?.['required']) {
                        <span class="fw-bold text-danger">Model is required</span>
                    } @else if(uploadForm.controls['model'].errors?.['maxlength']) {
                        <span class="fw-bold text-danger">Model cannot be longer than 60 characters</span>
                    } @else {
                        {{ uploadForm.get('model')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Brand</span>
                        @if (uploadForm.controls['brand'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['brand'].errors?.['required']) {
                        <span class="fw-bold text-danger">Brand is required</span>
                    } @else if(uploadForm.controls['brand'].errors?.['maxlength']) {
                        <span class="fw-bold text-danger">Brand cannot be longer than 60 characters</span>
                    } @else {
                        {{ brand }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Description</span>
                        @if (uploadForm.controls['description'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['description'].errors?.['required']) {
                        <span class="fw-bold text-danger">Description is required</span>
                    } @else if(uploadForm.controls['description'].errors?.['maxlength']) {
                        <span class="fw-bold text-danger">Description cannot be longer than 255 characters</span>
                    } @else {
                        Description of the product
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Price</span>
                        @if (uploadForm.controls['price'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['price'].errors?.['required']) {
                        <span class="fw-bold text-danger">Price is required</span>
                    } @else if(uploadForm.controls['price'].errors?.['min']) {
                        <span class="fw-bold text-danger">Price cannot be lower than 1 €</span>
                    } @else if(uploadForm.controls['price'].errors?.['max']) {
                        <span class="fw-bold text-danger">Price cannot be higher than 99999 €</span>
                    } @else {
                        {{ uploadForm.get('price')?.value }} €
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Points</span>
                        @if (uploadForm.controls['points'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['points'].errors?.['required']) {
                        <span class="fw-bold text-danger">Points is required</span>
                    } @else if(uploadForm.controls['points'].errors?.['min']) {
                        <span class="fw-bold text-danger">Points cannot be lower than 0</span>
                    } @else if(uploadForm.controls['points'].errors?.['max']) {
                        <span class="fw-bold text-danger">Points cannot be higher than 2000</span>
                    } @else {
                        {{ uploadForm.get('points')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>{{ uploadForm.get('on_offer')?.value ? uploadForm.get('discount')?.value + ' %' : 'Not on offer' }}</td>
            </tr>
            <tr>
                <td>Stock</td>
                <td>{{ uploadForm.get('quantity')?.value }} </td>
            </tr>
            <tr>
                <td>On Offer</td>
                <td>{{ uploadForm.get('on_offer')?.value ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <td>Featured</td>
                <td>{{ uploadForm.get('featured')?.value ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>DPI</span>
                        @if (uploadForm.controls['dpi'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['dpi'].errors?.['required']) {
                        <span class="fw-bold text-danger">DPI is required</span>
                    } @else if(uploadForm.controls['dpi'].errors?.['min']) {
                        <span class="fw-bold text-danger">DPI cannot be lower than 600</span>
                    } @else if(uploadForm.controls['dpi'].errors?.['max']) {
                        <span class="fw-bold text-danger">DPI cannot be higher than 20000</span>
                    } @else {
                        {{ uploadForm.get('dpi')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Sensor</span>
                        @if (uploadForm.controls['sensor'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['sensor'].errors?.['required']) {
                        <span class="fw-bold text-danger">Sensor is required</span>
                    } @else {
                        {{ uploadForm.get('sensor')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Buttons</span>
                        @if (uploadForm.controls['buttons'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['buttons'].errors?.['required']) {
                        <span class="fw-bold text-danger">Buttons is required</span>
                    } @else if(uploadForm.controls['buttons'].errors?.['min']) {
                        <span class="fw-bold text-danger">Buttons cannot be lower than 2</span>
                    } @else if(uploadForm.controls['buttons'].errors?.['max']) {
                        <span class="fw-bold text-danger">Buttons cannot be higher than 20</span>
                    } @else {
                        {{ uploadForm.get('buttons')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Weight</span>
                        @if (uploadForm.controls['weight'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['weight'].errors?.['required']) {
                        <span class="fw-bold text-danger">Weight is required</span>
                    } @else if(uploadForm.controls['weight'].errors?.['min']) {
                        <span class="fw-bold text-danger">Weight cannot be lower than 50</span>
                    } @else if(uploadForm.controls['weight'].errors?.['max']) {
                        <span class="fw-bold text-danger">Weight cannot be higher than 150</span>
                    } @else {
                        {{ uploadForm.get('weight')?.value }} g
                    }
                </td>
            </tr>
            <tr>
                <td>Wireless</td>
                <td>{{ uploadForm.get('bluetooth')?.value ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
</div>
