
.title {
    font-weight: bold;
    font-size: 1.6rem;
    background-color: #1c1c1c;
    padding: 20px;
    color: aliceblue;
    display: flex;
}

.quick-search {
    position: flex;
    background-color: #1d1d1d;
    color: aliceblue;

}