<div [formGroup]="uploadForm" class="card w-100 p-4 border-0">

    <!-- SPECIFICATIONS SECTION -->
    <div class="d-flex justify-content-center mt-2">

        <!-- COLUMN LEFT -->
        <div class="d-flex flex-column align-items-center w-50">

            <!-- EFFICIENCY RATING FIELD -->
            <div class="mb-3 w-75">
                <label class="form-label" for="efficiency_rating">Efficiency rating:</label>
                <select id="efficiency_rating" class="form-select" formControlName="efficiency_rating">

                    <option id="80_Bronze" [value]="'80+ Bronze'">80+ Bronze</option>
                    <option id="80_Silver" [value]="'80+ Silver'">80+ Silver</option>
                    <option id="80_Gold" [value]="'80+ Gold'">80+ Gold</option>
                    <option id="80_Platinum" [value]="'80+ Platinum'">80+ Platinum</option>
                </select>
            </div>

            <!-- MODULAR CHECKBOX -->
            <div class="mb-3 w-75">
                <div class="d-flex align-items-center">
                    <input class="form-check-inline" style="width: 1.5rem; height: 1.5rem;" type="checkbox" id="modular"
                        formControlName="modular" />
                    <label class="form-label mt-2" for="modular">Modular</label>
                </div>
            </div>
        </div>


        <!-- COLUMN RIGHT -->
        <div class="d-flex flex-column align-items-center w-50">

            <!-- WATTAGE FIELD -->
            <div class="mb-3 w-75">
                <label class="form-label" for="wattage">Wattage:</label>
                <input class="form-control" id="wattage" type="number" min="100" max="1500"
                    formControlName="wattage">
                <div class="text-danger">
                    @if (uploadForm.controls['wattage'].errors?.['required']) {
                    <div>Wattage is required.</div>
                    }
                    @if (uploadForm.controls['wattage'].errors?.['min']) {
                    <div>Wattage cannot be lower than 100.</div>
                    }
                    @if (uploadForm.controls['wattage'].errors?.['max']) {
                    <div>Wattage cannot be higher than 1500.</div>
                    }
                </div>
            </div>

            <!-- FANLESS CHECKBOX -->
            <div class="mb-3 w-75">
                <div class="d-flex align-items-center">
                    <input class="form-check-inline" style="width: 1.5rem; height: 1.5rem;" type="checkbox" id="fanless"
                        formControlName="fanless" />
                    <label class="form-label mt-2" for="fanless">Fanless</label>
                </div>
            </div>
        </div>
    </div>
</div>