<div class="sidebar">

    <div class="sidebar-header text-center">
        <h2>Dashboard</h2>
    </div>

    <a class="menu-item bg-black d-flex" routerLink="/dashboard/users" routerLinkActive="active">
        <fa-icon class="me-2" [icon]="userIcon"></fa-icon>
        <span>Users</span>
    </a>
    <a class="menu-item bg-black d-flex" routerLink="/dashboard/products" routerLinkActive="active">
        <fa-icon class="me-2" [icon]="productIcon"></fa-icon>
        <span>Products</span>
    </a>
    <div class="d-flex flex-column user-profile">
        <span class="text-white fw-bold mb-3" style="font-size: 1.2em;">Logged as: {{ userName }}</span>
        <button class="logout-btn" (click)="logoutUser()">Logout</button>
    </div>
</div>