$color_1: #ffffff;
$color_2: #cccccc;
$color_3: #999;
$color_4: #f98c4c;
$font-family_1: 'Segoe UI', sans-serif;
$background-color_1: #1a1a1a;
$background-color_2: #2d2d2d;
$background-color_3: #404040;
$background-color_4: #007acc;
$background-color_5: white;
$background-color_6: #4CAF50;
$background-color_7: #FFC107;
$background-color_8: #F44336;

.user-image {
    border-radius: 50%;
    margin-bottom: 0;
    margin-right: 20px;
    color: aliceblue;
}

.user-profile {
    margin-top: auto;
    padding: 20px 0;
    border-top: 1px solid #404040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #d32f2f;
    }
}

.sidebar {
    background-color: $background-color_2;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 20px 0;
    border-bottom: 1px solid #404040;
    margin-bottom: 20px;

    h2 {
        color: $color_1;
        font-size: 24px;
    }
}

.menu-item {
    padding: 12px 15px;
    margin: 5px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: $color_2;
    text-decoration: none;
    background-color: $background-color_2;

    a {
        text-decoration: none;
        color: inherit;
        display: block;
        background-color: $background-color_2;
    }

    &:hover {
        background-color: $background-color_3;
        color: $color_1;
        transform: translateY(-2px);
        box-shadow: 0 10px 12px rgba(6, 6, 6, 0.1);
        transform: translateY(-2px) scale(1.05);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    &.active {
        background-color: $background-color_4;
        color: $color_4;
    }
}