<div class="sidebar">

    <div class="sidebar-header">
        <h2>Dashboard</h2>
    </div>

    <div class="menu-item d-flex">
        <fa-icon class="me-2" [icon]="userIcon"></fa-icon>
        <a routerLink="/dashboard/users" routerLinkActive="active">Users</a>
    </div>
    <div class="menu-item d-flex">
        <fa-icon class="me-2" [icon]="productIcon"></fa-icon>
        <a routerLink="/dashboard/products" routerLinkActive="active">Products</a>
    </div>
    <div class="user-profile">
        <button class="logout-btn" (click)="logoutUser()">Logout</button>
    </div>
</div>