<div class="card w-100 p-4">
    <form #f [formGroup]="uploadForm" (submit)="onSubmit()">

        <!-- IMAGE -->
        <div class="d-flex flex-column justify-content-center align-items-center w-100">
            <img class="rounded-3 border border-2 mb-4"
                [src]="uploadForm.value.image || 'images/product-placeholder.png'" width="200px"
                alt="Component Image" />
            <input type="file" class="form-control w-50 mt-3" (change)="onFileSelected($event)"
                accept=".png, .jpg, .jpeg">
        </div>

        <!-- GENERAL SPECIFICATIONS SEPARATOR -->
        <div class="d-flex align-items-center w-100 mt-2">
            <div class="flex-grow-1 border-bottom border-2"></div>
            <h2 class="mx-3 mt-3 mb-4 text-center">General Specifications</h2>
            <div class="flex-grow-1 border-bottom border-2"></div>
        </div>

        <!-- PRODUCT INFORMATION -->
        <div class="d-flex justify-content-center mt-2">

            <!-- COLUMN LEFT -->
            <div class="d-flex flex-column align-items-center w-50">

                <!-- NAME FIELD -->
                <div class="mb-3 w-75">
                    <label class="form-label" for="name">Name:</label>
                    <input class="form-control" id="name" type="text" formControlName="name">
                    <div class="text-danger">
                        @if (uploadForm.controls['name'].errors?.['required']) {
                        <div>Name is required.</div>
                        }
                        @if (uploadForm.controls['name'].errors?.['maxlength']) {
                        <div>Name cannot be longer than 60 characters.</div>
                        }
                    </div>
                </div>

                <!-- MODEL FIELD -->
                <div class="mb-3 w-75">
                    <label class="form-label" for="model">Model:</label>
                    <input class="form-control" id="model" type="text" formControlName="model">
                    <div class="text-danger">
                        @if (uploadForm.controls['model'].errors?.['required']) {
                        <div>Model is required.</div>
                        }
                        @if (uploadForm.controls['model'].errors?.['maxlength']) {
                        <div>Model cannot be longer than 60 characters.</div>
                        }
                    </div>
                </div>

            </div>


            <!-- COLUMN RIGHT -->
            <div class="d-flex flex-column align-items-center w-50">
                <!-- BRAND FIELD -->
                <div class="mb-3 w-75">
                    <label class="form-label" for="brand">Brand:</label>
                    <select id="brand" class="form-select" formControlName="brand">
                        @if(category == 'ram'){
                            <option value="corsair">Corsair</option>
                            <option value="kingston">Kingston</option>
                            <option value="crucial">Crucial</option>
                            <option value="gskill">G.Skill</option>
                            <option value="adata">ADATA</option>
                            <option value="patriot">Patriot</option>
                            <option value="hyperx">HyperX</option>
                        }
                        @if(category == 'cpu'){
                            <option value="amd">AMD</option>
                            <option value="intel">Intel</option>
                        }
                        @if(category == 'gpu'){
                            <option value="amd">AMD</option>
                            <option value="nvidia">NVidia</option>
                            <option value="intel">Intel</option>
                            <option value="msi">MSI</option>
                            <option value="asus">ASUS</option>
                            <option value="gigabyte">GIGABYTE</option>
                            <option value="zotac">Zotac</option>
                            <option value="pny">PNY</option>
                            <option value="asrock">ASRock</option>
                            <option value="sapphire">Sapphire</option>
                            <option value="powercolor">Powercolor</option>
                        }
                        @if(category == 'motherboard'){
                            <option value="msi">MSI</option>
                            <option value="asus">ASUS</option>
                            <option value="gigabyte">GIGABYTE</option>
                            <option value="asrock">ASRock</option>
                        }
                        @if(category == 'psu'){
                            <option value="corsair">Corsair</option>
                            <option value="seasonic">Seasonic</option>
                            <option value="evga">EVGA</option>
                            <option value="bequiet">Be quiet!</option>
                            <option value="nzxt">NZXT</option>
                            <option value="coolermaster">Cooler Master</option>
                            <option value="thermaltake">Thermaltake</option>
                            <option value="msi">MSI</option>
                            <option value="silverstone">SilverStone</option>
                            <option value="gigabyte">Gigabyte</option>
                            <option value="deepcool">Deepcool</option>
                        }
                        @if(category == 'case'){
                            <option value="corsair">Corsair</option>
                            <option value="nzxt">NZXT</option>
                            <option value="coolermaster">Cooler Master</option>
                            <option value="thermaltake">Thermaltake</option>
                            <option value="antec">Antec</option>
                            <option value="silverstone">SilverStone</option>
                            <option value="deepcool">Deepcool</option>
                            <option value="msi">MSI</option>
                            <option value="asus">ASUS</option>
                            <option value="aerocool">Aerocool</option>
                        }
                        @if(category == 'cooler'){
                            <option value="noctua">Noctua</option>
                            <option value="corsair">Corsair</option>
                            <option value="nzxt">NZXT</option>
                            <option value="coolermaster">Cooler Master</option>
                            <option value="bequiet">Be Quiet!</option>
                            <option value="arctic">Arctic</option>
                            <option value="thermaltake">Thermaltake</option>
                            <option value="deepcool">Deepcool</option>
                        }
                        @if(category == 'display'){
                            <option value="samsung">Samsung</option>
                            <option value="lg">LG</option>
                            <option value="dell">Dell</option>
                            <option value="asus">ASUS</option>
                            <option value="acer">Acer</option>
                            <option value="hp">HP</option>
                            <option value="benq">BenQ</option>
                            <option value="msi">MSI</option>
                            <option value="gigabyte">Gigabyte</option>
                            <option value="philips">Philips</option>
                            <option value="aoc">AOC</option>
                            <option value="lenovo">Lenovo</option>
                        }
                        @if(category == 'storage'){
                            <option value="samsung">Samsung</option>
                            <option value="western-digital">Western Digital</option>
                            <option value="crucial">Crucial</option>
                            <option value="sk-hynix">SK Hynix</option>
                            <option value="kingston">Kingston</option>
                            <option value="seagate">Seagate</option>
                            <option value="corsair">Corsair</option>
                            <option value="adata">ADATA</option>
                            <option value="sabrent">Sabrent</option>
                            <option value="pny">PNY</option>
                            <option value="lexar">Lexar</option>
                        }
                        @if(category == 'keyboard' || category == 'mouse'){
                            <option value="corsair">Corsair</option>
                            <option value="logitech">Logitech</option>
                            <option value="razer">Razer</option>
                            <option value="steelseries">SteelSeries</option>
                            <option value="glorious">Glorious PC Gaming Race</option>
                            <option value="keychron">Keychron</option>
                            <option value="hyperx">HyperX</option>
                            <option value="fnatic">Fnatic</option>
                        }
                    </select>
                </div>

                <!-- CATEGORY DROPDOWN -->
                @if (!productData){
                <div class="mb-3 w-75">
                    <label class="form-label" for="category">Category:</label>
                    <select class="form-select" id="category" type="text" formControlName="category"
                        (change)="onCategoryChange($event)">
                        <option id="cpu" value="cpu">Processing Unit</option>
                        <option id="ram" value="ram">RAM</option>
                        <option id="gpu" value="gpu">Graphics Card</option>
                        <option id="motherboard" value="motherboard">Motherboard</option>
                        <option id="storage" value="storage">Storage Unit</option>
                        <option id="psu" value="psu">Power Supply</option>
                        <option id="case" value="case">Case</option>
                        <option id="cooler" value="cooler">Refrigeration</option>
                        <option id="display" value="display">Display</option>
                        <option id="keyboard" value="keyboard">Keyboard</option>
                        <option id="mouse" value="mouse">Mouse</option>
                    </select>
                </div>
                }
            </div>
        </div>

        <!-- DESCRIPTION FIELD -->
        <div class="d-flex justify-content-center align-items-center w-100 mt-3">
            <div class="d-flex w-75 mb-3">
                <div class="w-100">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" id="description" type="text" formControlName="description"
                        rows="3"></textarea>
                    <div class="text-danger">
                        @if (uploadForm.controls['description'].errors?.['required']) {
                        <div>Description is required.</div>
                        }
                        @if (uploadForm.controls['description'].errors?.['maxlength']) {
                        <div>Description cannot be longer than 255 characters.</div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- BOTTOM GENERAL SPEC ZONE -->
        <div class="d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-evenly w-100 mt-3">

                <!-- PRICE FIELD -->
                <div class="d-flex p-1">
                    <div class="d-flex flex-column">
                        <label class="form-label mt-1 me-2" for="price">Price:</label>
                        <input class="form-control" id="price" type="number" min="1" max="99999"
                            formControlName="price" />
                        <div class="text-danger">
                            @if (uploadForm.controls['price'].errors?.['required']) {
                            <div>Price is required.</div>
                            }
                            @if (uploadForm.controls['price'].errors?.['min']) {
                            <div>Price cannot be lower than 1.</div>
                            }
                            @if (uploadForm.controls['price'].errors?.['max']) {
                            <div>Price cannot be higher than 99999.</div>
                            }
                        </div>
                    </div>
                </div>

                <!-- DISCOUNT FIELD -->
                <div class="d-flex p-1">
                    <div class="d-flex flex-column">
                        <label class="form-label mt-1 me-2" for="discount">Discount:</label>
                        <input class="form-control" id="discount" type="number" min="0" max="100"
                            formControlName="discount" />
                        <div class="text-danger">
                            @if (uploadForm.controls['discount'].errors?.['required']) {
                            <div>Discount is required.</div>
                            }
                            @if (uploadForm.controls['discount'].errors?.['min']) {
                            <div>Discount cannot be lower than 0.</div>
                            }
                            @if (uploadForm.controls['discount'].errors?.['max']) {
                            <div>Discount cannot be higher than 100.</div>
                            }
                        </div>
                    </div>
                </div>

                <!-- QUANTITY FIELD -->
                <div class="d-flex p-1">
                    <div class="d-flex flex-column">
                        <label class="form-label mt-1 me-2" for="stock">Stock:</label>
                        <input class="form-control" id="stock" type="number" min="0" formControlName="quantity" />
                        <div class="text-danger">
                            @if (uploadForm.controls['quantity'].errors?.['required']) {
                            <div>Stock is required.</div>
                            }
                            @if (uploadForm.controls['quantity'].errors?.['min']) {
                            <div>Stock cannot be lower than 0.</div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-evenly mx-auto w-50 mt-5 border border-2">
                <div class="d-flex justify-content-center align-items-center">
                    <input class="form-check-inline" style="width: 1.5rem; height: 1.5rem;" type="checkbox"
                        id="on_offer" formControlName="on_offer" />
                    <label class="form-label mt-2" for="on_offer">On Offer</label>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <input class="form-check-inline" style="width: 1.5rem; height: 1.5rem;" type="checkbox"
                        id="featured" formControlName="featured" />
                    <label class="form-label mt-2" for="featured">Featured</label>
                </div>
            </div>

        </div>

        <!-- SPECIFICATIONS SEPARATOR -->
        <div class="d-flex align-items-center w-100 mt-4">
            <div class="flex-grow-1 border-bottom border-2"></div>
            <h2 class="mx-3 mt-3 mb-4 text-center">Technical Specifications</h2>
            <div class="flex-grow-1 border-bottom border-2"></div>
        </div>

        <!-- SPECIFICATIONS COMPONENT -->
        @if(category == 'ram'){
        <app-ramform [productData]="productData" [uploadForm]="uploadForm" />
        }
        @if(category == 'cpu'){
        <app-cpuform [productData]="productData" [uploadForm]="uploadForm" />
        }
        @if(category == 'gpu'){
        <app-gpuform [productData]="productData" [uploadForm]="uploadForm" />
        }
        @if(category == 'motherboard'){
        <app-motherboardform [productData]="productData" [uploadForm]="uploadForm" />
        }

        <!-- RESUME TABLE SEPARATOR -->
        <div class="d-flex align-items-center w-100 mt-4">
            <div class="flex-grow-1 border-bottom border-2"></div>
            <h2 class="mx-3 mt-3 mb-4 text-center">Resume</h2>
            <div class="flex-grow-1 border-bottom border-2"></div>
        </div>

        @if(category == 'ram'){
        <app-ramform-table [uploadForm]="uploadForm" />
        }
        @if(category == 'cpu'){
        <app-cpuform-table [uploadForm]="uploadForm" />
        }
        @if(category == 'gpu'){
        <app-gpuform-table [uploadForm]="uploadForm" />
        }
        @if(category == 'motherboard'){
        <app-motherboardform-table [uploadForm]="uploadForm" />
        }

        <!-- ERROR MESSAGE SECTION -->
        @if (!uploadForm.valid) {
        <div class="d-flex mx-auto w-50 mt-3 bg-danger-subtle rounded-3 p-3">
            <span class="fw-bold mx-auto">Please resolve the errors before submitting</span>
        </div>
        }
        @if (errorMessage) {
        <div class="d-flex mx-auto w-50 mt-3 bg-danger-subtle rounded-3 p-3">
            <span class="fw-bold mx-auto">{{ errorMessage }}</span>
        </div>
        }

        <!-- BUTTONS -->
        <div class="d-flex mx-auto w-50 mt-3">
            <div class="d-flex justify-content-center w-100 mt-3">
                <button class="btn btn-primary" type="submit" [disabled]="!uploadForm.valid">{{ submitButtonText
                    }}</button>
            </div>
            <div class="d-flex justify-content-center w-100 mt-3">
                <button class="btn text-white" type="button" style="background-color: #828282"
                    (click)="onReturn()">Return</button>
            </div>
        </div>
    </form>
</div>