<div class="mx-auto w-50 mt-3">
    <table class="table table-bordered w-100">
        <thead>
            <tr>
                <th>Specification</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Name</span>
                        @if (uploadForm.controls['name'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['name'].errors?.['required']) {
                        <span class="fw-bold text-danger">Name is required</span>
                    } @else if(uploadForm.controls['name'].errors?.['maxlength']) {
                        <span class="fw-bold text-danger">Name cannot be longer than 60 characters</span>
                    } @else {
                        {{ uploadForm.get('name')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Model</span>
                        @if (uploadForm.controls['model'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['model'].errors?.['required']) {
                        <span class="fw-bold text-danger">Model is required</span>
                    } @else if(uploadForm.controls['model'].errors?.['maxlength']) {
                        <span class="fw-bold text-danger">Model cannot be longer than 60 characters</span>
                    } @else {
                        {{ uploadForm.get('model')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Brand</span>
                        @if (uploadForm.controls['brand'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['brand'].errors?.['required']) {
                        <span class="fw-bold text-danger">Brand is required</span>
                    } @else if(uploadForm.controls['brand'].errors?.['maxlength']) {
                        <span class="fw-bold text-danger">Brand cannot be longer than 60 characters</span>
                    } @else {
                        {{ brand }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Description</span>
                        @if (uploadForm.controls['description'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['description'].errors?.['required']) {
                        <span class="fw-bold text-danger">Description is required</span>
                    } @else if(uploadForm.controls['description'].errors?.['maxlength']) {
                        <span class="fw-bold text-danger">Description cannot be longer than 255 characters</span>
                    } @else {
                        Description of the product
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Price</span>
                        @if (uploadForm.controls['price'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['price'].errors?.['required']) {
                        <span class="fw-bold text-danger">Price is required</span>
                    } @else if(uploadForm.controls['price'].errors?.['min']) {
                        <span class="fw-bold text-danger">Price cannot be lower than 1 €</span>
                    } @else if(uploadForm.controls['price'].errors?.['max']) {
                        <span class="fw-bold text-danger">Price cannot be higher than 99999 €</span>
                    } @else {
                        {{ uploadForm.get('price')?.value }} €
                    }
                </td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>{{ uploadForm.get('on_offer')?.value ? uploadForm.get('discount')?.value + ' %' : 'Not on offer' }}</td>
            </tr>
            <tr>
                <td>Stock</td>
                <td>{{ uploadForm.get('quantity')?.value }} </td>
            </tr>
            <tr>
                <td>On Offer</td>
                <td>{{ uploadForm.get('on_offer')?.value ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <td>Featured</td>
                <td>{{ uploadForm.get('featured')?.value ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Memory</span>
                        @if (uploadForm.controls['memory'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['memory'].errors?.['required']) {
                        <span class="fw-bold text-danger">Memory is required</span>
                    } @else if(uploadForm.controls['memory'].errors?.['min']) {
                        <span class="fw-bold text-danger">Memory cannot be lower than 2</span>
                    } @else if(uploadForm.controls['memory'].errors?.['max']) {
                        <span class="fw-bold text-danger">Memory cannot be higher than 24</span>
                    } @else {
                        {{ uploadForm.get('memory')?.value }} GB
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Memory type</span>
                        @if (uploadForm.controls['memory_type'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['memory_type'].errors?.['required']) {
                        <span class="fw-bold text-danger">Memory type is required</span>
                    } @else {
                        {{ uploadForm.get('memory_type')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Base clock speed</span>
                        @if (uploadForm.controls['core_clock'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['core_clock'].errors?.['required']) {
                        <span class="fw-bold text-danger">Base clock speed is required</span>
                    } @else if(uploadForm.controls['core_clock'].errors?.['min']) {
                        <span class="fw-bold text-danger">Base clock cannot be lower than 800</span>
                    } @else if(uploadForm.controls['core_clock'].errors?.['max']) {
                        <span class="fw-bold text-danger">Base clock cannot be higher than 8000</span>
                    } @else {
                        {{ uploadForm.get('core_clock')?.value }} MHz
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Boost clock speed</span>
                        @if (uploadForm.controls['boost_clock'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['boost_clock'].errors?.['required']) {
                        <span class="fw-bold text-danger">Boost speed is required</span>
                    } @else if(uploadForm.controls['boost_clock'].errors?.['min']) {
                        <span class="fw-bold text-danger">Boost cannot be lower than 800</span>
                    } @else if(uploadForm.controls['boost_clock'].errors?.['max']) {
                        <span class="fw-bold text-danger">Boost cannot be higher than 8000</span>
                    } @else {
                        {{ uploadForm.get('boost_clock')?.value }} MHz
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Length</span>
                        @if (uploadForm.controls['length'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['length'].errors?.['required']) {
                        <span class="fw-bold text-danger">Length is required</span>
                    } @else if(uploadForm.controls['length'].errors?.['min']) {
                        <span class="fw-bold text-danger">Length cannot be lower than 80</span>
                    } @else if(uploadForm.controls['length'].errors?.['max']) {
                        <span class="fw-bold text-danger">Length cannot be higher than 400</span>
                    } @else {
                        {{ uploadForm.get('length')?.value }} mm
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Consumption</span>
                        @if (uploadForm.controls['consumption'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['consumption'].errors?.['required']) {
                        <span class="fw-bold text-danger">Consumption is required</span>
                    } @else if(uploadForm.controls['consumption'].errors?.['min']) {
                        <span class="fw-bold text-danger">Consumption cannot be lower than 25</span>
                    } @else if(uploadForm.controls['consumption'].errors?.['max']) {
                        <span class="fw-bold text-danger">Consumption cannot be higher than 300</span>
                    } @else {
                        {{ uploadForm.get('consumption')?.value }} W
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
