<div [formGroup]="uploadForm" class="card w-100 p-4 border-0">

    <!-- SPECIFICATIONS SECTION -->
    <div class="d-flex justify-content-center mt-2">

        <!-- COLUMN LEFT -->
        <div class="d-flex flex-column align-items-center w-50">

            <!-- SOCKET FIELD -->
            <div class="mb-3 w-75">
                <label class="form-label" for="socket">Socket:</label>
                <select id="socket" class="form-select" formControlName="socket">
                    <option [value]="'AM4'">AM4</option>
                    <option [value]="'AM5'">AM5</option>
                    <option [value]="'SP3'">SP3</option>
                    <option [value]="'SP5'">SP5</option>
                    <option [value]="'LGA1200'">LGA1200</option>
                    <option [value]="'LGA1700'">LGA1700</option>
                    <option [value]="'LGA2066'">LGA2066</option>
                </select>
            </div>

            <!-- FORM FACTOR FIELD -->
            <div class="mb-3 w-75">
                <label class="form-label" for="form_factor">Form factor:</label>
                <select id="form_factor" class="form-select" formControlName="form_factor">
                    <option id="ATX" [value]="'ATX'">ATX</option>
                    <option id="E-ATX" [value]="'E-ATX'">E-ATX</option>
                    <option id="MINI-ITX" [value]="'Mini-ITX'">MINI-ITX</option>
                    <option id="MICRO-ATX" [value]="'Micro-ATX'">MICRO-ATX</option>
                </select>
            </div>

            <!-- MEMORY MAX FIELD -->
            <div class="mb-3 w-75">
                <div class="mb-3 w-75">
                    <label class="form-label" for="memory_max">Maximum RAM memory:</label>
                    <select id="memory_max" class="form-select" formControlName="memory_max">
                        <option id="32" [value]="32">32</option>
                        <option id="64" [value]="64">64</option>
                        <option id="128" [value]="128">128</option>
                        <option id="256" [value]="256">256</option>
                    </select>
                </div>
            </div>

            <!-- MEMORY SLOTS CHECKBOX -->
            <div class="mb-3 w-75">
                <div class="mb-3 w-75">
                    <label class="form-label" for="memory_slots">RAM Slots:</label>
                    <select id="memory_slots" class="form-select" formControlName="memory_slots">
                        <option id="2" [value]="2">2</option>
                        <option id="4" [value]="4">4</option>
                        <option id="8" [value]="8">8</option>
                    </select>
                </div>
            </div>

            <!-- MEMORY TYPE FIELD -->
            <div class="mb-3 w-75">
                <div class="mb-3 w-75">
                    <label class="form-label" for="memory_type">RAM memory type:</label>
                    <select id="memory_type" class="form-select" formControlName="memory_type">
                        <option id="DDR3" [value]="'DDR3'">DDR3</option>
                        <option id="DDR4" [value]="'DDR4'">DDR4</option>
                        <option id="DDR5" [value]="'DDR5'">DDR5</option>
                    </select>
                </div>
            </div>

            <!-- MEMORY SPEED FIELD -->
            <div class="mb-3 w-75">
                <div class="mb-3 w-75">
                    <label class="form-label" for="memory_speed">Memory max speed:</label>
                    <input class="form-control" id="memory_speed" type="number" min="1000" max="7000"
                        formControlName="memory_speed">
                    <div class="text-danger">
                        @if (uploadForm.controls['memory_speed'].errors?.['required']) {
                        <div>USB ports is required.</div>
                        }
                        @if (uploadForm.controls['memory_speed'].errors?.['min']) {
                        <div>USB ports cannot be lower than 1000.</div>
                        }
                        @if (uploadForm.controls['memory_speed'].errors?.['max']) {
                        <div>USB ports cannot be higher than 7000.</div>
                        }
                    </div>
                </div>
            </div>

            <!-- LAN FIELD -->
            <div class="mb-3 w-75">
                <div class="mb-3 w-75">
                    <label class="form-label" for="lan">LAN:</label>
                    <select id="lan" class="form-select" formControlName="lan">
                        <option id="1gbe" [value]="'1GbE'">1 GbE</option>
                        <option id="2.5gbe" [value]="'2.5GbE'">2.5 GbE</option>
                        <option id="5gbe" [value]="'5GbE'">5 GbE</option>
                        <option id="10gbe" [value]="'10GbE'">10 GbE</option>
                    </select>
                </div>
            </div>

            <!-- WIFI CHECKBOX -->
            <div class="mb-3 w-75">
                <div class="d-flex align-items-center">
                    <input class="form-check-inline" style="width: 1.5rem; height: 1.5rem;" type="checkbox" id="wifi"
                        formControlName="wifi" />
                    <label class="form-label mt-2" for="wifi">Has integrated Wifi</label>
                </div>
            </div>

        </div>


        <!-- COLUMN RIGHT -->
        <div class="d-flex flex-column align-items-center w-50">

            <!-- CHIPSET FIELD -->
            <div class="mb-3 w-75">
                <label class="form-label" for="chipset">Chipset:</label>
                <select id="chipset" class="form-select" formControlName="chipset">
                    @if(uploadForm.get('socket')?.value == 'AM4'
                    || uploadForm.get('socket')?.value == 'AM5'
                    || uploadForm.get('socket')?.value == 'SP3'
                    || uploadForm.get('socket')?.value == 'SP4'){
                    <option [value]="'X570'">X570</option>
                    <option [value]="'B550'">B550</option>
                    <option [value]="'A520'">A520</option>
                    <option [value]="'X470'">X470</option>
                    <option [value]="'X670E'">X670E</option>
                    <option [value]="'X670'">X670</option>
                    <option [value]="'B650E'">B650E</option>
                    <option [value]="'B650'">B650</option>
                    <option [value]="'A620'">A620</option>
                    } @else {
                    <option [value]="'Z490'">Z490</option>
                    <option [value]="'H470'">H470</option>
                    <option [value]="'B460'">B460</option>
                    <option [value]="'H410'">H410</option>
                    <option [value]="'Z690'">Z690</option>
                    <option [value]="'H670'">H670</option>
                    <option [value]="'B660'">B660</option>
                    <option [value]="'H610'">H610</option>
                    <option [value]="'Z790'">Z790</option>
                    <option [value]="'H770'">H770</option>
                    <option [value]="'B760'">B760</option>
                    <option [value]="'H610'">H610</option>
                    }
                </select>
            </div>

            <!-- SATA PORTS FIELD -->
            <div class="mb-3 w-75">
                <div class="mb-3 w-75">
                    <label class="form-label" for="sata_ports">SATA Ports:</label>
                    <select id="sata_ports" class="form-select" formControlName="sata_ports">
                        <option id="2" [value]="2">2</option>
                        <option id="4" [value]="4">4</option>
                        <option id="6" [value]="6">6</option>
                        <option id="8" [value]="8">8</option>
                    </select>
                </div>
            </div>

            <!-- M2 SLOTS -->
            <div class="mb-3 w-75">
                <div class="mb-3 w-75">
                    <label class="form-label" for="m_2_slots">M2 Slots:</label>
                    <select id="m_2_slots" class="form-select" formControlName="m_2_slots">
                        <option id="0" [value]="0">0</option>
                        <option id="1" [value]="1">1</option>
                        <option id="2" [value]="2">2</option>
                        <option id="3" [value]="3">3</option>
                    </select>
                </div>
            </div>

            <!-- PCI-E SLOTS -->
            <div class="mb-3 w-75">
                <div class="mb-3 w-75">
                    <label class="form-label" for="pcie_slots">PCI-E Slots:</label>
                    <select id="pcie_slots" class="form-select" formControlName="pcie_slots">
                        <option id="1" [value]="1">1</option>
                        <option id="2" [value]="2">2</option>
                        <option id="3" [value]="3">3</option>
                        <option id="4" [value]="4">4</option>
                    </select>
                </div>
            </div>

            <!-- USB PORTS -->
            <div class="mb-3 w-75">
                <div class="mb-3 w-75">
                    <label class="form-label" for="usb_ports">USB ports:</label>
                    <input class="form-control" id="usb_ports" type="number" min="2" max="10"
                        formControlName="usb_ports">
                    <div class="text-danger">
                        @if (uploadForm.controls['usb_ports'].errors?.['required']) {
                        <div>USB ports is required.</div>
                        }
                        @if (uploadForm.controls['usb_ports'].errors?.['min']) {
                        <div>USB ports cannot be lower than 2.</div>
                        }
                        @if (uploadForm.controls['usb_ports'].errors?.['max']) {
                        <div>USB ports cannot be higher than 10.</div>
                        }
                    </div>
                </div>
            </div>

            <!-- AUDIO FIELD -->
            <div class="mb-3 w-75">
                <div class="mb-3 w-75">
                    <label class="form-label" for="audio">Audio:</label>
                    <select id="audio" class="form-select" formControlName="audio">
                        <option id="realtek_alc887" [value]="'Realtek ALC887'">Realtek ALC887</option>
                        <option id="realtek_alc892" [value]="'Realtek ALC892'">Realtek ALC892</option>
                        <option id="realtek_alc1150" [value]="'Realtek ALC1150'">Realtek ALC1150</option>
                        <option id="realtek_alc1200" [value]="'Realtek ALC1200'">Realtek ALC1200</option>
                        <option id="realtek_alc1220" [value]="'Realtek ALC1220'">Realtek ALC1220</option>
                        <option id="realtek_alc4080" [value]="'Realtek ALC4080'">Realtek ALC4080</option>
                    </select>
                </div>
            </div>

            <!-- BLUETOOTH CHECKBOX -->
            <div class="mb-3 w-75">
                <div class="d-flex align-items-center">
                    <input class="form-check-inline" style="width: 1.5rem; height: 1.5rem;" type="checkbox" id="bluetooth"
                        formControlName="bluetooth" />
                    <label class="form-label mt-2" for="bluetooth">Has bluetooth</label>
                </div>
            </div>
        </div>
    </div>
</div>