<div class="mx-auto w-50 mt-3">
    <table class="table table-bordered w-100">
        <thead>
            <tr>
                <th>Specification</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Name</span>
                        @if (uploadForm.controls['name'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['name'].errors?.['required']) {
                        <span class="fw-bold text-danger">Name is required</span>
                    } @else if(uploadForm.controls['name'].errors?.['maxlength']) {
                        <span class="fw-bold text-danger">Name cannot be longer than 60 characters</span>
                    } @else {
                        {{ uploadForm.get('name')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Model</span>
                        @if (uploadForm.controls['model'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['model'].errors?.['required']) {
                        <span class="fw-bold text-danger">Model is required</span>
                    } @else if(uploadForm.controls['model'].errors?.['maxlength']) {
                        <span class="fw-bold text-danger">Model cannot be longer than 60 characters</span>
                    } @else {
                        {{ uploadForm.get('model')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Brand</span>
                        @if (uploadForm.controls['brand'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['brand'].errors?.['required']) {
                        <span class="fw-bold text-danger">Brand is required</span>
                    } @else if(uploadForm.controls['brand'].errors?.['maxlength']) {
                        <span class="fw-bold text-danger">Brand cannot be longer than 60 characters</span>
                    } @else {
                        {{ uploadForm.get('brand')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Description</span>
                        @if (uploadForm.controls['description'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['description'].errors?.['required']) {
                        <span class="fw-bold text-danger">Description is required</span>
                    } @else if(uploadForm.controls['description'].errors?.['maxlength']) {
                        <span class="fw-bold text-danger">Description cannot be longer than 255 characters</span>
                    } @else {
                        Description of the product
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Price</span>
                        @if (uploadForm.controls['price'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['price'].errors?.['required']) {
                        <span class="fw-bold text-danger">Price is required</span>
                    } @else if(uploadForm.controls['price'].errors?.['min']) {
                        <span class="fw-bold text-danger">Price cannot be lower than 1 €</span>
                    } @else if(uploadForm.controls['price'].errors?.['max']) {
                        <span class="fw-bold text-danger">Price cannot be higher than 99999 €</span>
                    } @else {
                        {{ uploadForm.get('price')?.value }} €
                    }
                </td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>{{ uploadForm.get('on_offer')?.value ? uploadForm.get('discount')?.value + ' %' : 'Not on offer' }}</td>
            </tr>
            <tr>
                <td>Stock</td>
                <td>{{ uploadForm.get('quantity')?.value }} </td>
            </tr>
            <tr>
                <td>On Offer</td>
                <td>{{ uploadForm.get('on_offer')?.value ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <td>Featured</td>
                <td>{{ uploadForm.get('featured')?.value ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Type</span>
                        @if (uploadForm.controls['type'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['type'].errors?.['required']) {
                        <span class="fw-bold text-danger">Type is required</span>
                    } @else {
                        {{ uploadForm.get('type')?.value }}
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Capacity</span>
                        @if (uploadForm.controls['capacity'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['capacity'].errors?.['required']) {
                        <span class="fw-bold text-danger">Capacity is required</span>
                    } @else if(uploadForm.controls['capacity'].errors?.['min']) {
                        <span class="fw-bold text-danger">Capacity cannot be lower than 120</span>
                    } @else if(uploadForm.controls['capacity'].errors?.['max']) {
                        <span class="fw-bold text-danger">Capacity cannot be higher than 32000</span>
                    } @else {
                        {{ uploadForm.get('latency')?.value }} GB
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>RPM</span>
                        @if (uploadForm.controls['rpm'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['rpm'].errors?.['required']) {
                        <span class="fw-bold text-danger">RPM is required</span>
                    } @else if(uploadForm.controls['rpm'].errors?.['min']) {
                        <span class="fw-bold text-danger">RPM cannot be lower than 0</span>
                    } @else if(uploadForm.controls['rpm'].errors?.['max']) {
                        <span class="fw-bold text-danger">RPM cannot be higher than 7200</span>
                    } @else {
                        {{ uploadForm.get('rpm')?.value }} RPM
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Read speed</span>
                        @if (uploadForm.controls['read_speed'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['read_speed'].errors?.['required']) {
                        <span class="fw-bold text-danger">Read speed is required</span>
                    } @else if(uploadForm.controls['read_speed'].errors?.['min']) {
                        <span class="fw-bold text-danger">Read speed cannot be lower than 100</span>
                    } @else if(uploadForm.controls['read_speed'].errors?.['max']) {
                        <span class="fw-bold text-danger">Read speed cannot be higher than 14000</span>
                    } @else {
                        {{ uploadForm.get('read_speed')?.value }} MB/s
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <span>Write speed</span>
                        @if (uploadForm.controls['write_speed'].errors) {
                            <span class="btn btn-danger ms-2 pt-0 pb-0">Error</span>
                        }
                    </div>
                </td>
                <td>
                    @if(uploadForm.controls['write_speed'].errors?.['required']) {
                        <span class="fw-bold text-danger">Write speed is required</span>
                    } @else if(uploadForm.controls['write_speed'].errors?.['min']) {
                        <span class="fw-bold text-danger">Write speed cannot be lower than 100</span>
                    } @else if(uploadForm.controls['write_speed'].errors?.['max']) {
                        <span class="fw-bold text-danger">Write speed cannot be higher than 12000</span>
                    } @else {
                        {{ uploadForm.get('write_speed')?.value }} MB/s
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
