/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://img.freepik.com/free-photo/digital-art-beautiful-mountains_23-2151123686.jpg?t=st=1742151409~exp=1742155009~hmac=007574dbdbf74af71408f87da2e08827d58200139ce3f42423d9c1e00896827e&w=996');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

