/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://www.wallpaperflare.com/static/492/546/483/retrowave-retrowave-digital-art-purple-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

