<div class="card border border-3 border-success w-100 p-4">
    <form [formGroup]="uploadForm" (submit)="onUpdate()">

        <!-- IMAGE -->
        <div class="d-flex flex-column justify-content-center align-items-center w-100">
            <img class="rounded-3 border border-2 mb-4"
                [src]="uploadForm.value.image || 'images/product-placeholder.png'" width="200px"
                alt="Component Image" />
            <input class="form-control w-50" type="file" />
        </div>

        <!-- SEPARATOR -->
        <div class="d-flex align-items-center w-100 mt-2">
            <div class="flex-grow-1 border-bottom border-2"></div>
            <h2 class="mx-3 mt-3 mb-4 text-center">General Specifications</h2>
            <div class="flex-grow-1 border-bottom border-2"></div>
        </div>

        <!-- PRODUCT INFORMATION -->
        <div class="d-flex justify-content-center mt-2">

            <!-- COLUMN LEFT -->
            <div class="d-flex flex-column align-items-center w-50">

                <!-- NAME FIELD -->
                <div class="mb-3 w-75">
                    <label class="form-label" for="name">Name:</label>
                    <input class="form-control" id="name" type="text" formControlName="name">
                </div>

                <!-- MODEL FIELD -->
                <div class="mb-3 w-75">
                    <label class="form-label" for="model">Model:</label>
                    <input class="form-control" id="model" type="text"
                        formControlName="model">
                </div>
                
            </div>


            <!-- COLUMN RIGHT -->
            <div class="d-flex flex-column align-items-center w-50">
                <!-- BRAND FIELD -->
                <div class="mb-3 w-75">
                    <label class="form-label" for="brand">Brand:</label>
                    <input class="form-control" id="brand" type="text"
                        formControlName="brand">
                </div>
            </div>
        </div>

        <!-- DESCRIPTION FIELD -->
        <div class="d-flex justify-content-center align-items-center w-100 mt-3">
            <div class="d-flex w-75 mb-3">
                <div class="w-100">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" id="description" type="text" formControlName="description"
                        rows="3"></textarea>
                </div>
            </div>
        </div>

        <!-- BOTTOM ZONE -->
        <div class="d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-evenly w-100 mt-3">

                <!-- PRICE FIELD -->
                <div class="d-flex p-1">
                    <label class="form-label mt-1 me-2" for="price">Price:</label>
                    <input class="form-control" id="price" type="number" min="0" formControlName="price" />
                </div>

                <!-- DISCOUNT FIELD -->
                <div class="d-flex p-1">
                    <label class="form-label mt-1 me-2" for="discount">Discount:</label>
                    <input class="form-control" id="discount" type="number" min="0" max="99" formControlName="discount" />
                </div>

                <!-- QUANTITY FIELD -->
                <div class="d-flex p-1">
                    <label class="form-label mt-1 me-2" for="stock">Stock:</label>
                    <input class="form-control" id="stock" type="number" min="0" formControlName="quantity" />
                </div>
            </div>

            <div class="d-flex justify-content-evenly mx-auto w-50 mt-4 border border-2">
                <div class="d-flex justify-content-center align-items-center">
                    <input class="form-check-inline" style="width: 1.5rem; height: 1.5rem;" type="checkbox" id="on_offer" formControlName="on_offer" />
                    <label class="form-label mt-2" for="on_offer">On Offer</label>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <input class="form-check-inline" style="width: 1.5rem; height: 1.5rem;" type="checkbox" id="featured" formControlName="featured" />
                    <label class="form-label mt-2" for="featured">Featured</label>
                </div>
            </div>

            <!-- SEPARATOR -->
            <div class="d-flex align-items-center w-100 mt-4">
                <div class="flex-grow-1 border-bottom border-2"></div>
                <h2 class="mx-3 mt-3 mb-4 text-center">Technical Specifications</h2>
                <div class="flex-grow-1 border-bottom border-2"></div>
            </div>


            <!-- SPECIFICATIONS SECTION -->
            <div class="d-flex justify-content-center mt-2">

                <!-- COLUMN LEFT -->
                <div class="d-flex flex-column align-items-center w-50">
    
                    <!-- SPEED FIELD -->
                    <div class="mb-3 w-75">
                        <label class="form-label" for="speed">Speed:</label>
                        <input class="form-control" id="speed" type="number" min="800" formControlName="speed">
                    </div>
    
                    <!-- LATENCY FIELD -->
                    <div class="mb-3 w-75">
                        <label class="form-label" for="latency">Latency:</label>
                        <input class="form-control" id="latency" type="number" min="7" max="40" formControlName="latency">
                    </div>
                    
                </div>
    
    
                <!-- COLUMN RIGHT -->
                <div class="d-flex flex-column align-items-center w-50">
                    <!-- BRAND FIELD -->
                    <div class="mb-3 w-75">
                        <label class="form-label" for="memory">Memory:</label>
                        <select id="memory" class="form-select" formControlName="memory">
                            <option id="4" value="4">4 GB</option>
                            <option id="8" value="8">8 GB</option>
                            <option id="16" value="16">16 GB</option>
                            <option id="32" value="32">32 GB</option>
                            <option id="64" value="64">64 GB</option>
                            <option id="128" value="128">128 GB</option>
                            <option id="256" value="256">256 GB</option>
                        </select>
                    </div>
    
                    <!-- CATEGORY FIELD -->
                    <div class="mb-3 w-75">
                        <label class="form-label" for="memory_type">Memory Type:</label>
                        <select id="memory_type" class="form-select" formControlName="memory_type">
                            <option id="DDR3" value="DDR3">DDR3</option>
                            <option id="DDR4" value="DDR4">DDR4</option>
                            <option id="DDR5" value="DDR5">DDR5</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- SEPARATOR -->
            <div class="d-flex align-items-center w-100 mt-4">
                <div class="flex-grow-1 border-bottom border-2"></div>
                <h2 class="mx-3 mt-3 mb-4 text-center">Resume</h2>
                <div class="flex-grow-1 border-bottom border-2"></div>
            </div>

            <!-- RESUME BOX -->
            <div class="mx-auto w-50 mt-3">
                <table class="table table-bordered w-100">
                    <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ uploadForm.get('name')?.value }}</td>
                        </tr>
                        <tr>
                            <td>Model</td>
                            <td>{{ uploadForm.get('model')?.value }}</td>
                        </tr>
                        <tr>
                            <td>Brand</td>
                            <td>{{ uploadForm.get('brand')?.value }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ uploadForm.get('description')?.value }}</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>{{ uploadForm.get('price')?.value }} €</td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td>{{ uploadForm.get('on_offer')?.value ? uploadForm.get('discount')?.value + ' %' : 'Not on offer' }}</td>
                        </tr>
                        <tr>
                            <td>Stock</td>
                            <td>{{ uploadForm.get('quantity')?.value }} </td>
                        </tr>
                        <tr>
                            <td>On Offer</td>
                            <td>{{ uploadForm.get('on_offer')?.value ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <td>Featured</td>
                            <td>{{ uploadForm.get('featured')?.value ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <td>Speed</td>
                            <td>{{ uploadForm.get('speed')?.value }} Mhz</td>
                        </tr>
                        <tr>
                            <td>Latency</td>
                            <td>CL {{ uploadForm.get('latency')?.value }}</td>
                        </tr>
                        <tr>
                            <td>Memory</td>
                            <td>{{ uploadForm.get('memory')?.value }} GB</td>
                        </tr>
                        <tr>
                            <td>Memory Type</td>
                            <td>{{ uploadForm.get('memory_type')?.value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- BUTTONS -->
            <div class="d-flex mx-auto w-50 mt-3">
                <div class="d-flex justify-content-center w-100 mt-3">
                    <button class="btn btn-primary" type="submit">{{ submitButtonText }}</button>
                </div>
                <div class="d-flex justify-content-center w-100 mt-3">
                    <button class="btn text-white" style="background-color: #828282" onclick="onReturn()">Return</button>
                </div>
            </div>
            
        </div>

    </form>
</div>